/*Useful resource found for colors wwww.coolors.com DCFAE5*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #DCFAE5;
}

main {
    margin: auto;
    padding: 1.5rem;
    max-width:max-content;

    /* Ask professor how to center content setting padding or marging */
}

ul{

    font-size: 1.1rem;
    text-align: left;

    list-style-type: none;
    /* Removes the bullets or numbers from a list*/
    
    background-color: #279C3F;
    
}

li{
    display: inline-block;
    /* This line makes the different texts to show in rows 
    instead of colums (stacked on top)*/

    position: relative;
    /* Needed when we want the dropdown content to be placed right below the button */

    width: 6rem;
    /* This gives the same width to all the set of items (buttons)
    in the list */
}

li a {
/* This notation is to select only the links or text (tag "a") 
that are inside a list or buttons (tag "li") */

    display: block;
    /* When selecting an option from nav bar, not only 
    the text will be highlighted but all the box that contains it*/

    /* It's important to remember that what is beign highlighted
    when hover is the text in the link (tag "a") and not the 
    container itself (tag "li")*/

    padding: 0.3rem 0.6rem;
    /* By putting 2 values on a single line we are setting
    top bottom and right left padding*/
}

li a:hover, a:focus{
/* This applies style to the TEXT LINK when hovered*/

    background: #26C440;
}

li:last-child{
/* This applies style only to the last item of the list*/

    font-weight: bold;
}

li:first-child{
/* This applies style only to the first item of the list*/   

    font-weight: bold;
}

.container{
    background-color: white;
}

#instructions {
    border-left: solid #26C440;
    border-left-width: 0.3rem;
}

#extraCredit {
    margin-top: 1.5rem;
    border-left: solid yellow;
    border-left-width: 0.3rem;
}

.onlyCSS{
    font-weight: bold;
    font-style: italic;
}

h3{
    padding: 1rem;
}

p{
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}



.dropdownOptions{
    display: block;
    background-color: #26C440;
    
    position: absolute;
    /* The dropdown will be position outsite the block*/
    
    cursor: pointer;
    
    width: 100%;
    /* The dropdown will have the same witdth as the button*/

    font-weight: lighter;
    font-size: 1rem;
}

.dropdownOptions a{
    color: purple;
}

.dropdownOptions a:hover{
    background-color: lightgreen;
}